## Private workspace directory

/_/


## Backup files

*~
\#*\#
.\#*
*.swp
*.bak


## Compile files

/completion/*-completion-think.*
/manuals/manpage.*.gz
/ponysay.info.gz
/truncater
*.install
/Makefile
