## Private workspace directory

/_/
/*.pony


## Backup files

*~
\#*\#
.\#*
*.swp
*.bak


## Compile files

/completion/*-completion-think.*
/completion/pony*.pony*
/truncater
*.install
*.gz
*.xz
*.bzip2
*.zip
*.info
*.ps
*.dvi
/Makefile
/quotes/
/*ponies/heights
/*ponies/onlyheights
/*ponies/widths
/*ponies/metadata


## Texinfo manual stuff

/ponysay.aux
/ponysay.cp
/ponysay.cps
/ponysay.fn
/ponysay.ky
/ponysay.log
/ponysay.pg
/ponysay.toc
/ponysay.tp
/ponysay.vr
/ponysay.op
/ponysay.ops
/ponysay.pgs
/ponysay.vrs


## Python cache files

__pycache__/
*.pyc

