body {
    margin : 0 0 0 0;
    color : rgb(0, 0, 0);
    background-color : rgb(249, 246, 240);
    font-family : 'Open Sans', sans-serif;
    font-size : 12pt;
}

div.header {
    background-color : rgb(200, 221, 242);
    color : rgb(0, 0, 0);
    border-left : 0;
    border-right : 0;
    border-top : 0;
    border-bottom : 1px solid rgb(0, 0, 0);
    height : 60px;
    /*
    font-family : 'Celestia Redux Alternate', 'Celestia Redux', 'Open Sans', sans-serif;
    font-size : 14pt;
    */
}

table.header {
    background-color : rgb(200, 221, 242);
    color : rgb(0, 0, 0);
    border : 0;
    height : 100%;
}

div.main {
    width : 100%;
    top : 60px;
    bottom : 0px;
    position : absolute;
}

table.main {
    width : 100%;
    height : 100%;
    border : 0;
}

.headspace {
    width : 8px;
}

#left {
    width : 540px;
}

#right {
    height : 100%;
}

#text {
    left : 540px;
    right : 0px;
    top : 1px;
    bottom : 4px;
    position : absolute;
}

#page {
    border : 0;
    height : 100%;
    width : 100%;
}

.fill {
    width : 100%;
}

.title {
    padding : 4px 0px 8px 10px;
    /*
    position : relative;
    left : 0px;
    top : -8px;
    margin-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    font-family : 'Celestia Redux Alternate', 'Celestia Redux', 'Open Sans', sans-serif;
    */
    font-size : 26pt;
    text-decoration : none;
}

cols.image {
    width : 487px;
}

cols.sep {
    width : 53px;
}


a:link    {color : #000000; text-decoration : none; border : 0px solid #FFFFFF; background-color : transparent;}
a:active  {color : #000000; text-decoration : none; border : 0px solid #FFFFFF; background-color : transparent;}
a:visited {color : #000000; text-decoration : none; border : 0px solid #FFFFFF; background-color : transparent;}
a:hover   {color : #484848; text-decoration : none; border : 0px solid #FFFFFF; background-color : transparent;}
a:focus   {color : #000000; text-decoration : none; border : 0px solid #FFFFFF; background-color : transparent;}


/*
@font-face {
    font-family : 'Celestia Redux Alternate';
    src : url('./fonts/CelestiaMediumRedux_alt1.55.ttf');
    font-weight : normal;
    font-style : normal;
}

@font-face {
    font-family : 'Celestia Redux';
    src : url('./fonts/CelestiaMediumRedux1.55.ttf');
    font-weight : normal;
    font-style : normal;
}
*/

@font-face {
    font-family : 'Open Sans';
    src : url('./fonts/opensans-regular-webfont.eot');
    src : url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/opensans-regular-webfont.woff') format('woff'),
	  url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
	  url('./fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight : normal;
    font-style : normal;
}

@font-face {
    font-family : 'Open Sans';
    src : url('./fonts/opensans-italic-webfont.eot');
    src : url('./fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/opensans-italic-webfont.woff') format('woff'),
	  url('./fonts/opensans-italic-webfont.ttf') format('truetype'),
	  url('./fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight : normal;
    font-style : italic;
}

@font-face {
  font-family : 'Open Sans';
  src : url('./fonts/opensans-bold-webfont.eot');
  src : url('./fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/opensans-bold-webfont.woff') format('woff'),
        url('./fonts/opensans-bold-webfont.ttf') format('truetype'),
        url('./fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg');
  font-weight : bold;
  font-style : normal;
}

@font-face {
  font-family : 'Open Sans';
  src : url('./fonts/opensans-bolditalic-webfont.eot');
  src : url('./fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/opensans-bolditalic-webfont.woff') format('woff'),
        url('./fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
        url('./fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight : bold;
  font-style : italic;
}

@font-face {
  font-family : 'Open Sans';
  src : url('./fonts/opensans-extrabold-webfont.eot');
  src : url('./fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/opensans-extrabold-webfont.woff') format('woff'),
        url('./fonts/opensans-extrabold-webfont.ttf') format('truetype'),
        url('./fonts/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight : 800;
  font-style : normal;
}

